*.DS_Store
.idea/
.vscode/
*.o
cmake-build-debug/
log/*
*.out
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
*.log
*.cbp
data/
release/
build/

deps/ctr-feature/*
deps/ctr-feature
deps/thrift-define-lib/*
deps/thrift-define-lib
deps/feature-lib/
deps/prediction-lib/
deps/feeds-brpc/
deps/dsl3/
deps/lcs_client_cpp/*
deps/lcs_client_cpp/
deps/falcon-collector-client
install/*
!.gitignore
pt-model
